body{
    color: red;
}
.title{
    font-size:6rem;
}
.subtitle{
    font-size: 4rem;
}

@media (max-width: 500px) {
    body{
        color:blue;
    }
}

@media (oreintation: landspace) and (min-width: 500px){
    .title{
        color:green;
    }
}

@media (orientation: portrait){
    .subtitle{
        color:cyan;
    }
}

/* 2nd question */
@media (max-width:1000px) and (min-width: 500px){
    body{
        color:green;
    }
}
/* 3rd question */
@media (min-width:1000px){
    body{
        color:blue;
    }
}